<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tysofit - My Dashboard</title>
	<link rel="stylesheet" type="text/css" href="static/assets/dashboard.css">
  <script src="https://unpkg.com/@descope/web-component@latest/dist/index.js"></script>
  <script src="https://unpkg.com/@descope/web-js-sdk@1.3.3/dist/index.umd.js"></script>
</head>
<body id="gradient-canvas">

    <div class="header">
        <a href="/"><img src="static/assets/logo.png" alt="TYSO" width="50"></a>
        <nav>
            <!-- <a href="#">Insights</a> -->
            <a href="/progress">Progress</a>
            <!-- <a href="#">Settings</a> -->
            <a id="premium" href="https://www.buymeacoffee.com/tyso">Donate</a>
            <a style="color: #ff4433" class="link logout" href="javascript:logout();">Logout</a>
        </nav>
    </div>
    <img style="position: absolute; z-index: -10000000;" src="static/assets/dashdesign.png" alt="">
    <img style="position: absolute; z-index: -10000000; right:0;  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);" src="static/assets/dashdesign.png" alt="">
    <div class="content">
        <h1>Hi there, <span id="userName" style="  background: -webkit-linear-gradient(left, #FA6045, #9F1D11);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;"></span>!</h1>
    </div>
    <a href="/startworkout"><div class="button">
        <div class="circle1">
          <div class="circle2">
            <div class="text">start your workout</div>
          </div>
        </div>
      </div>
    </a>
    <!-- <a class="home" href="{{ url_for('index') }}">&#8592 Home</a>
    <h1 class="title">{% block title %} Profile {% endblock %}</h1>
    <h2> Welcome <span id="userName"></span> 👋</h2>
    <p class="email" id="userEmail"></p>
    <button class="link logout" onclick="logout()">Logout</button> -->

    <script src="{{url_for('static', filename='descope.js')}}"></script>
    <script>
        sdk.refresh()
        const userName = document.getElementById('userName')
        const userEmail = document.getElementById('userEmail')

        if (sessionToken) {
            getProfile()
        } else if (validRefreshToken && !sessionToken) {
            sdk.refresh()
        } else {
            window.location.href = "/login"
        }

        
        async function getProfile() {
            const profile = await sdk.me()
            userName.innerHTML = profile.data.name
            userEmail.innerHTML = profile.data.email
        }


        async function logout() {
            await sdk.logout()
            window.location.href = "/login"
        }
    </script>
      <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="tyso" data-description="Support me on Buy me a coffee!" data-message="Welcome back! If you're enjoying Tysofit, please consider supporting us so we can continue our mobile app development!" data-color="#ff4433" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
      <script src="../static/js/dashboard.js"></script>

</body>
</html>
