<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/assets/style.css">
    <script src="https://unpkg.com/@descope/web-component@latest/dist/index.js"></script>
    <script src="https://unpkg.com/@descope/web-js-sdk@1.3.3/dist/index.umd.js"></script>
    <script src="https://kit.fontawesome.com/a30f9b8509.js" crossorigin="anonymous"></script>
    <meta name="description" content="Tysofit is a cutting-edge fitness app that uses advanced AI technology to help users achieve their fitness goals. With rep counting, form analysis, and real-time guidance, Tysofit provides personalized workouts and tracks progress over time. Get insights, customizable workout plans, and exercises tailored to your needs. Start your fitness journey with Tysofit.">
    <link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
  <script src="../static/js/changetheme.js"></script>
  <script type="text/javascript">
    if (screen.width <= 912) {
    document.location = "/mobile";
    }
    </script>
<script async src="https://tally.so/widgets/embed.js"></script>

<script>
window.TallyConfig = {
  "formId": "npdG71",
  "popup": {
    "emoji": {
      "text": "👋",
      "animation": "wave"
    },
    "overlay": true,
    "open": {
      "trigger": "time",
      "ms": 3000
    },
    "layout": "modal",
    "doNotShowAfterSubmit": true
  }
};
</script>


    <title>Tysofit - Elevate Your Workouts with AI Rep-Counting and Form Correction</title>
    
</head>
<body>
  <nav class="navbar">
    <ul class="nav-links">

      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <div class="menu">
        <li><a class="nav-link" href="#"><img src="static/assets/logo.png" alt="TYSOFIT" width="50"></a></li>
        <li><a class="nav-link" href="#">Home</a></li>
        <li><a class="nav-link" href="#features">Features</a></li>
        <li><a class="nav-link" target="_blank" href="https://tally.so/r/npdG71">Mobile App Waitlist</a></li>
        <li><a class="nav-link" href="#pricing">Pricing</a></li>
      </div>
    </ul>
    <div class="cta-nav">
      <li><a class="nav-link" href="/login" style="font-family: glacial; color:white;">Login</a></li>
      <div class="cta-nav-button">
        <li><a style="color:white;" href="/signup">Sign Up</a></li>
      </div>
    </div>
  </nav>
  <section class="home">
    <div class="title-container">
      <h1 id="title">TYSOFIT</h1>
      <div class="subheader">
        <p id="subheader"><span class="red"></span>your workouts with AI rep-counting</p>
        <br>
        <div class="cta-main">
          <li><a href="/signup">Start now!</a></li>
        </div>

        <br><br>
        <div class="introwrap small-12 medium-10 large-8 small-centered columns badges">
          <a href="https://tally.so/r/npdG71" target="_blank" class="badge1-1"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1617148800&h=118342e0e75ef2d882289fc4ee258bfb" alt="Download on the App Store"></a>
          <a href="https://tally.so/r/npdG71" target="_blank"class="badge2-1"><img src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' alt='Get it on Google Play'/></a>
        </div>
      </div>
    </div>
    <div class="image-container">
      <img src="../static/assets/repsvideo.gif" alt="" width="102%" style="margin-top: 10%;" >
    </div>
  </section>
  <br><br><br>
<section id="features">
    <div>
      <h2>Real-time Rep Counting and Form Correction with Advanced AI Guidance</h2>
      <img style="float: left; margin-left: 15%; margin-top: 2%; transform: rotate(-17deg);" src="../static/assets/straight_mockuo.png" alt="Gif of counting-reps"  width="270"/>
      <p style="float: right; margin-right: 12%; text-align: right;">Tysofit uses advanced AI technology to count your reps and check your form in real-time, providing guidance and form correction to help you achieve your fitness goals.</p>

    </div>
    <div>
      <h2>Track your progress over time with comments and pictures to stay motivated</h2>
      <img style="float: right; margin-right: 8%; margin-top: 2%;" src="../static/tysopic/progress.png" alt="Progress Tab in Tyso App"  width="400" />
      <p style="margin-left: 12%; text-align: left;">Tysofit allows you to track your progress over time, with the ability to add comments and pictures to each workout. This makes it easy to see how far you've come and stay motivated.</p>
    </div>
    <div>
      <h2>Intuitive user interface designed to make you feel motivated</h2>
      <img style="float: left; margin-left: 8%; margin-top: 2%;" src="../static/tysopic/personalization.png" alt="Personalization in Tyso App"  width="400" />
      <p style="float: right; margin-right: 12%; text-align: right;">Tysofit's user interface is thoughtfully curated with intuitive designs and clear instructions, making it accessible and user-friendly for individuals of all ages and fitness levels. The visually appealing design, coupled with interactive features, elevates your motivation levels during workouts.</p>
    </div>

    <!-- <div>
      <h2>Customizable workout plans and exercises tailored to your needs</h2>
      <p style="float: right; margin-right: 12%; text-align: right;">Tyso allows you to create customizable workout plans and exercises tailored to your specific needs and goals, ensuring you're always pushing yourself to the next level.</p>
    </div> -->
    <div>
      <h2>Includes a wide range of bodyweight and gym exercises, catering to all fitness levels</h2>
      <img style="float: right; margin-right: 8%; margin-top: 2%;" src="../static/tysopic/exercises.png" alt="Exercises Tab in Tyso App"  width="400" />
      <p style="margin-left: 12%; text-align: left;">Tysofit includes a wide range of bodyweight and gym exercises, catering to all fitness levels. This allows you to find exercises that are suitable for your current fitness level and progress as you get stronger.</p>
    </div>
    <div>
      <h2>Coming soon: progress analysis and insights</h2>
      <img style="float: left; margin-left: 8%; margin-top: 2%;" src="../static/tysopic/insights.png" alt="Insights Tab in Tyso App"  width="400" />
      <p style="float: right; margin-right: 12%; text-align: right;">Tysofit plans to provide advanced analysis and insights into your progress, helping you understand your strengths and weaknesses and make informed decisions about your training.</p>
    </div>
    <div>
      <h2>Coming soon: compatibility with apple watch</h2>
      <img style="float: right; margin-right: 12%; margin-top: 2%;" src="../static/tysopic/applewatch.png" alt="Personalization in Tyso App"  width="300" />
      <p style="margin-left: 12%; text-align: left;">Tysofit plans to allow users to sync with your Apple Watch, allowing for added convenience and seamless tracking capabilities. This makes it easy to keep track of your progress and stay on top of your fitness journey.</p>
    </div>
    <div>
      <h2>Coming soon: meditation and mindfulness games</h2>
      <img style="float: left; margin-left: 15%; margin-top: 8%;" src="../static/tysopic/medi.gif" alt="Personalization in Tyso App"  width="400" />
      <p style="float: right; margin-right: 12%; text-align: right;">Mental health is just as important as physical health, which is why we plan to launch a new feature called Tysofit Rocket. Rocket is a meditation game that encourages and tracks your meditation practice. In this game, the rocket ascends as you engage in meditation, and the longer you meditate, the higher the rocket goes. By incentivizing the meditation process, Tysofit Rocket aims to enhance your mindfulness practice and provide a fun and interactive way to track your progress.</p>




    </div>
    <br>
    
</section>

<div class="cta-reg" style="text-align: center;">
  <div class="cta-reg-button">
    <li><a style="color:white;" href="/signup">Sign Up</a></li>
  
  </div>

</div>
<br>
<p style="text-align: center;">It's free!</p>
<!-- <section id="pricing">
  <h1 id="pricing-title">Pricing</h1>
  <div id="pricing-container">
    <div class="pricing-table">
      <div class="pricing-header">
        <h2>Free</h2>
      </div>
      <div class="pricing-body">
        <ul>
          <li><i class="fa fa-check"></i> Real Time Rep Counting</li>
          <li><i class="fa fa-check"></i> Form Correction</li>
          <li><i class="fa fa-check"></i> Basic Exercises</li>
          <li><i class="fa fa-check"></i> Basic Insights and Data Metrics</li>
          <li><i class="fa fa-check"></i> Pairs with Apple Watch</li>
          <li><i class="fa fa-check"></i> Basic Progress Features (Add Comments and Workout Summary)</li>
        </ul>
      </div>
      <div class="pricing-footer">
        <a href="/signup">Sign Up</a>
      </div>
    </div>
    
    <div class="pricing-table">
      <div class="pricing-header">
        <h2 id="prem-title">Premium</h2>
      </div>
      <div class="pricing-body">
        <ul>
          <li><i class="fa fa-check"></i> Everything from Free</li>
          <li><i class="fa fa-check"></i> Larger list of Exercises </li>
          <li><i class="fa fa-check"></i> Advanced Insights and Data Metrics</li>
          <li><i class="fa fa-check"></i> Advanced Personalization of App</li>
          <li><i class="fa fa-check"></i> Advanced Progress Features (Add Post-Workout Pictures)</li>
          <li><i class="fa fa-check"></i> Create Customizable Workout Plans</li>
        </ul>
      </div>
      <div class="pricing-footer">
        <a href="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</section> -->
<br><br><br>
<!-- <section id="images"> -->
<!--   
  <br>
  <article>
    <div>
      <ul>
        <li><img src="../static/tysopic/Splash page.png" /></li>
        <li><img src="../static/tysopic/Home page.png" /></li>
        <li><img src="../static/tysopic/Pre-workout page.png" /></li>
        <li><img src="../static/tysopic/Workout page.png" /></li>
        <li><img src="../static/tysopic/Post-workout page.png" /></li>
        <li><img src="../static/tysopic/Insights-page.png" /></li>
        <li><img src="../static/tysopic/Progress-page.png" /></li>
      </ul>
    </div>
  </article> -->
  <div class="video" style="text-align: center;">  
    <video style="width: 70rem;" preload="auto" playsinline webkit-playsinline controls>
      <source src="../static/Tyso.mp4#t=0.1" type="video/mp4"/>
      Your browser does not support the video tag.
    </video>
  </div>

    

<section id="testimonials" class="testimonial text-center">
  <div>
      <h2>What Users Say</h2>
      <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
       
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                  <div class="testimonial4_slide">
                      <!-- <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /> -->
                      <p>"I was quite surprised at how accurate the AI was on my laptop. Excited for the mobile app version!"</p>
                      <h4>Enzo Silva</h4>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="testimonial4_slide">
                      <!-- <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /> -->
                      <p>"I've been using the desktop version for a month now, and the form correction and rep counting were very helpful. And the progress feature is the cherry on top. Would recommend!"</p>
                      <h4>Maya Patel</h4>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="testimonial4_slide">
                      <p>"I do home workouts, and I recently discovered Tysofit. I just put my laptop on my desk and do my exercises in front of it. I must say, it has made a huge difference in my physique because it has allowed me to fully focus on my form rather than counting my reps."</p>
                      <h4>Adrian Nguyen</h4>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#testimonial4" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      </div>
  </div>
</section>

<div style="text-align: center;">
  <h1 id="footer-title">TYSOFIT</h1>
  <img src="static/assets/logo.png" alt="TYSO" width="50"></img>
  <br><br>
  <p>Power-up your workouts with AI.</p>
  <div class="introwrap small-12 medium-10 large-8 small-centered columns badges">
    <a href="https://tally.so/r/npdG71" target="_blank"class="badge1"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1617148800&h=118342e0e75ef2d882289fc4ee258bfb" alt="Download on the App Store"></a>
    <a href="https://tally.so/r/npdG71" target="_blank" class="badge2"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' /></a>
  </div>
  <p>Google Play and the Google Play logo are trademarks of Google LLC.  </p>
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="tyso" data-description="Support me on Buy me a coffee!" data-message="Thank you so much for being part of the Tysofit journey! We are deeply grateful to each of our 112 users for your support. Unfortunately, due to some ongoing maintenance issues, we have temporarily closed the app. However, we are truly thankful for your trust in us and for using Tysofit. We hope to be back soon!

Signing off,
Krishay Rastogi" data-color="#ff4433" data-position="Left" data-x_margin="18" data-y_margin="18"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="tyso" data-color="#BD5FFF" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="tyso" data-color="#ffffff" data-emoji="☕️"  data-font="cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ff4433" data-coffee-color="#FFDD00" ></script> -->
  <br>
    <!-- Site footer -->
    <footer class="site-footer">
      
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Tysofit is a cutting-edge app that helps users achieve their fitness goals. With advanced AI technology, Tysofit counts reps, checks form, and provides real-time guidance and form correction. The app tracks progress over time with comments and pictures and offers advanced analysis and insights into the user's progress. With customizable workout plans and exercises tailored to each user's specific needs and goals, Tysofit is the ultimate workout companion.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Downloads & More</h6>
            <ul class="footer-links">
              <li><a href="https://tally.so/r/npdG71" target="_blank">Get Tysofit on the App Store</a></li>
              <li><a href="https://tally.so/r/npdG71" target="_blank">Get Tysofit on Google Play</a></li>
              <li><a href="mailto:tysoapp@gmail.com">Contact Us</a></li>
              <li><a href="https://tally.so/r/mDKvA5" target="_blank">Submit feedback form</a></li>
              <li><a href="https://tally.so/r/nPDBvb" target="_blank">Submit feature request</a></li>
              <li><a href="https://tally.so/r/npdG71" target="_blank">Join mobile app waitlist</a></li>
              <li><a href="https://www.buymeacoffee.com/tyso?ref=widget-3758855" target="_blank">Support us!</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="#pricing">Pricing</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/terms">Terms and Conditions</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2025 All Rights Reserved by 
         <a href="#">Tysofit</a>
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

</div>

</body>
</html>
