<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Tysofit - Home</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <script async src="https://tally.so/widgets/embed.js"></script>

<script>
window.TallyConfig = {
  "formId": "npdG71",
  "popup": {
    "emoji": {
      "text": "👋",
      "animation": "wave"
    },
    "overlay": true,
    "open": {
      "trigger": "time",
      "ms": 3000
    },
    "layout": "modal",
    "doNotShowAfterSubmit": true
  }
};
</script>
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section header_bg">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/" class="logo"><img src="../static/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://tally.so/r/npdG71">Join Waitlist</a>
                  </li>
               </ul>
            </div>
            <div id="main">
               <span style="font-size:36px;cursor:pointer; color: #fff" onclick="openNav()"><img src="../static/images/toggle-icon.png" style="height: 30px;"></span>
            </div>
         </nav>
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="image_1"><img style="margin-left: 5%; z-index: -1; margin-top: 10%;" width="100%" src="../static/assets/repsvideo.gif" ></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">TYSOFIT</h1>
                              <p class="banner_text">A revolutionary AI-based fitness app that counts reps, corrects form, and tracks your progress. Available on desktop now, or join mobile app waitlist.</p>
                              <div class="btn_main" style="text-align: center;">
                                 <div style="margin-top: -10%; text-align: center;" class="buy_bt"><a href="https://tally.so/r/npdG71">Join Waitlist</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="image_1"><img src="../static/assets/dextop.png"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">Available on Desktop</h1>
                              <p class="banner_text">You can try the app on your laptop now! Join the waitlist for the mobile app development updates.</p>
                              <div class="btn_main">
                                 <div style="margin-top: -10%;" class="buy_bt"><a href="https://tally.so/r/npdG71">Join Waitlist</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="image_1"><img style="z-index: -1; margin-bottom: 10%; transform: rotate(-15deg);" src="../static/images/hero-mock.png"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">Checks Form</h1>
                              <p class="banner_text">Tysofit utilizes AI to accurately correct your form in real time!</p>
                              <div class="btn_main">
                                 <div style="margin-top: -10%;" class="buy_bt"><a href="https://tally.so/r/npdG71">Join Waitlist</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="image_1"><img style="margin-top: 10%; transform: rotate(-16deg);" src="../static/images/progress.png"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">Tracks Your Progress</h1>
                              <p class="banner_text">With Tysofit, you can look back at your progress by taking progress pictures and comments after each workout!</p>
                              <div class="btn_main">
                                 <div style="margin-top: -10%;" class="buy_bt"><a href="https://tally.so/r/npdG71">Join Waitlist</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
         <!-- banner section end -->
         
      </div>
      <!-- header section end -->
      
      <div style="background-color: black; text-align: center; padding-top: 40px;">
         
         <h1 style="font-family: glacial; color: black;">Watch the demo video below!</h1>
         <h1 style="font-family: glacial; color: black;">Watch the demo video below!</h1>
         <h1 style="font-family: glacial; color: black;">Watch the demo video below!</h1>
         <h1 style="font-family: glacial; color: white;">Watch the demo video below!</h1>
      </div>
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div style="position:relative; text-align: center; margin-top: 3%;">  
            <video style="width: 90%;" preload="auto" playsinline webkit-playsinline controls>
              <source src="../static/Tyso.mp4#t=0.1" type="video/mp4"/>
              Your browser does not support the video tag.
            </video>
          </div>
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="client_main">
                        <h1 class="client_taital">What Users Say</h1>
                        <div class="client_section_2">

                           <div class="client_right">
                              <div class="quote_icon"><img src="../static/images/quote-icon.png"></div>
                              <p class="client_text">"I was quite surprised at how accurate the AI was on my laptop. Excited for the mobile app version!"                              </p>
                              <h3 class="client_name">Enzo Silva</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="client_main">
                        <h1 class="client_taital">What Users Say</h1>
                        <div class="client_section_2">
      
                           <div class="client_right">
                              <div class="quote_icon"><img src="../static/images/quote-icon.png"></div>
                              <p class="client_text">"I've been using the desktop version for a month now, and the form correction and rep counting were very helpful. And the progress feature is the cherry on top. Would recommend!"                              </p>
                              <h3 class="client_name">Maya Patel</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="client_main">
                        <h1 class="client_taital">What Users Say</h1>
                        <div class="client_section_2">

                           <div class="client_right">
                              <div class="quote_icon"><img src="../static/images/quote-icon.png"></div>
                              <p class="client_text">"I've been using the desktop version for a month now, and the form correction and rep counting were very helpful. And the progress feature is the cherry on top. Would recommend!"
                              </p>
                              <h3 class="client_name">Adrian Nguyen</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <div style="padding-bottom: 10%; background-color: black;  text-align: center; ">
         <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="tyso" data-color="#ff4433" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
      </div>
      <!-- client section end -->
      <!-- footer section start -->
      <!-- Site footer -->
      <footer class="site-footer">
      
         <div class="container">
           <div class="row">
             <div class="col-sm-12 col-md-6">
               <h6>About</h6>
               <p class="text-justify">Tysofit is a cutting-edge app that helps users achieve their fitness goals. With advanced AI technology, Tysofit counts reps, checks form, and provides real-time guidance and form correction. The app tracks progress over time with comments and pictures and offers advanced analysis and insights into the user's progress. With customizable workout plans and exercises tailored to each user's specific needs and goals, Tysofit is the ultimate workout companion.</p>
             </div>
   
             <div class="col-xs-6 col-md-3">
               <h6>Downloads & More</h6>
               <ul class="footer-links">
                 <li><a href="https://tally.so/r/npdG71" target="_blank">Get Tysofit on the App Store</a></li>
                 <li><a href="https://tally.so/r/npdG71" target="_blank">Get Tysofit on Google Play</a></li>
                 <li><a href="mailto:tysoapp@gmail.com">Contact Us</a></li>
                 <li><a href="https://tally.so/r/mDKvA5" target="_blank">Submit feedback form</a></li>
                 <li><a href="https://tally.so/r/nPDBvb" target="_blank">Submit feature request</a></li>
                 <li><a href="https://tally.so/r/npdG71" target="_blank">Join mobile app waitlist</a></li>
                 <li><a href="https://www.buymeacoffee.com/tyso?ref=widget-3758855" target="_blank">Support us!</a></li>
               </ul>
             </div>
   
             <div class="col-xs-6 col-md-3">
               <h6>Quick Links</h6>
               <ul class="footer-links">
                 <li><a href="#">Home</a></li>
                 <li><a href="#features">Features</a></li>
                 <li><a href="#pricing">Pricing</a></li>
                 <li><a href="/login">Login</a></li>
                 <li><a href="/signup">Sign Up</a></li>
                 <li><a href="/terms">Terms and Conditions</a></li>
                 <li><a href="/privacy-policy">Privacy Policy</a></li>
               </ul>
             </div>
           </div>
           <hr>
         </div>
         <div class="container">
           <div class="row">
             <div class="col-md-8 col-sm-6 col-xs-12">
               <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
            <a href="#">Tysofit</a>.
               </p>
             </div>
   
             <div class="col-md-4 col-sm-6 col-xs-12">
               <ul class="social-icons">
                 <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                 <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
               </ul>
             </div>
           </div>
         </div>
   </footer>

      <!-- copyright section end -->    
      <!-- Javascript files-->
      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/popper.min.js"></script>
      <script src="../static/js/bootstrap.bundle.min.js"></script>
      <script src="../static/js/jquery-3.0.0.min.js"></script>
      <script src="../static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="../static/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
           document.getElementById("main").style.marginLeft = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
          
         }

         $("#main").click(function(){
             $("#navbarSupportedContent").toggleClass("nav-normal")
         })
      </script>
   </body>
</html>