<!DOCTYPE html>
<html>
    <head>
        <title>Privacy Policy - Tysofit</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/assets/terms.css">
    </head>
  <body>
    <li style="list-style: none;"><a class="nav-link" href="/"><img src="static/assets/logo.png" alt="TYSO" width="50"></a></li>
    <h1>Privacy Policy for Tysofit</h1>
    <p>At Tysofit, we understand the importance of privacy and security when it comes to your personal information. We are committed to ensuring that your information is protected and secure, and we take a number of steps to achieve this.</p>
  
    <h2>Information Collection and Use</h2>
    <p>We collect information that you voluntarily provide to us, including your name, email address, and workout data. This information is used to provide you with the best possible experience on our app and to improve our services.</p>
  
    <h2>Data Security</h2>
    <p>We take the security of your information seriously and have implemented industry-standard security measures to protect your information from unauthorized access, alteration, or disclosure. This includes encryption of sensitive information, regular backups, and access controls to ensure that only authorized personnel can access your information.</p>
  
    <h2>Third-Party Services</h2>
    <p>We may use third-party services to provide certain services on our app, such as analytics or hosting. These third-party services may have access to your information in order to perform their functions, but they are bound by contract to protect your information and are not permitted to use it for any other purpose.</p>
  
    <h2>Data Retention</h2>
    <p>We will retain your information for as long as necessary to provide you with our services and comply with legal obligations. If you wish to delete your information, you may do so at any time by contacting us.</p>
  
    <h2>Privacy Policy Updates</h2>
    <p>We may update this privacy policy from time to time to reflect changes in our practices or to comply with legal requirements. We will notify you of any changes by posting the updated policy on our app.</p>
  
    <h2>Contact Us</h2>
    <p>If you have any questions about this privacy policy or how we handle your information, please do not hesitate to contact us at tysoapp@gmail.com. We are committed to ensuring the privacy and security of your information, and we are always happy to help.</p>
    <a style="color: #ff4433" href="/terms"><p style="text-align: center;">Terms and Conditions</p></a>

</body>
</html>