<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up for Tysofit - Create Your Account</title>
    <link rel="stylesheet" href="static/assets/login.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<!--<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>-->

    <script src="https://unpkg.com/@descope/web-component@2.8.12/dist/index.js"></script>
    <script src="https://unpkg.com/@descope/web-js-sdk@1.4.3/dist/index.umd.js"></script>
    <meta name="description" content="Sign up for Tysofit and create your account.">

	<meta name="google-signin-client_id" content="498590132356-nja2j6psf36pvn83r1f79svart8ci13t.apps.googleusercontent.com">
</head>


<body>
    <h1 style="font-family: glacial-bold; text-align: center; margin-top: 5%; margin-bottom: 5%;">Sign Up</h1>
    <div class="container">
        
        <div class="left-section" style="display: flex; justify-content: center; align-items: center;">
            <div class="cta-main">
                <a href="https://tally.so/r/npdG71" target="_blank" class="waitlist-button">Join the Mobile App Waitlist</a>
            </div>
        </div>
        <br>
    <p style="text-align: center;">Or</p>        
        <div class="right-section" style="margin-top: 3%;">
            <div id="container"></div>
        </div>
    </div>
    <script src="{{url_for('static', filename='descope.js')}}"></script> 
    <script>
        const container = document.getElementById('container')

        if (!validRefreshToken) { 
            container.innerHTML = '<descope-wc project-id="' + projectId + '" flow-id="sign-up" theme="dark"></descope-wc>'
            const wcElement = document.getElementsByTagName('descope-wc')[0]


            const onSuccess = (e) => {
                fetch("/signup", {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + e.detail.sessionJwt
                    }
                })
                .then(data => {
                    return data.json()
                }).then(jsonData => {
                    console.log(jsonData)
                    window.location.href = "/dashboard"
                });
            }


            const onError = (err) => console.log(err);

            wcElement.addEventListener('success', onSuccess)
            wcElement.addEventListener('error', onError)
        } else {
            // will check if client has valid refresh token in /profile and autoRefresh if possible 
            window.location.href = "/dashboard"
        }
    </script>
    
</body>
</html>