<!DOCTYPE html>
<html>
  <head>
    <title>Terms and Conditions of Use - Tysofit</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/assets/terms.css">
  </head>
  <body>
    <li style="list-style: none;"><a class="nav-link" href="/"><img src="static/assets/logo.png" alt="Tysofit" width="50"></a></li>
    <p style="color: #ff4433; text-align: center;">Effective From: February 2023<p>
    <h1>Terms and Conditions of Use</h1>
    <p>Welcome to Tysofit, an AI-fitness app that helps you count your reps, check your form, and track your progress in many exercises. The following terms and conditions (“Terms”) govern your access to and use of Tysofit, including the software and services provided through our website and mobile application (collectively, the “Service”).</p>

    <h2>Agreement to Terms</h2>
    <p>By accessing or using the Service, you agree to be bound by these Terms. If you do not agree to these Terms, do not use the Service.</p>

    <h2>Changes to Terms</h2>
    <p>Tysofit reserves the right, in its sole discretion, to modify or replace these Terms at any time. If we make changes, we will post the updated Terms on our website and update the “Last Updated” date above. Your continued use of the Service after any changes to these Terms constitutes your acceptance of the revised Terms.</p>

    <h2>Account Creation</h2>
    <p>In order to access certain features of the Service, you must register for an account (“Account”). You agree to provide accurate and complete information when registering for an Account, and to update this information as necessary to keep it accurate and complete. You are responsible for maintaining the confidentiality of your account information, including your password, and for all activities that occur under your Account. You agree to immediately notify Tysofit of any unauthorized use of your Account or any other breach of security.</p>

    <h2>Use of Service</h2>
    <p>The Service is for your personal and non-commercial use. You agree not to use the Service for any illegal or unauthorized purpose. You agree to comply with all applicable laws and regulations when using the Service. Tysofit may, in its sole discretion, terminate or suspend your use of the Service if you violate these Terms or any applicable law.</p>

    <h2>Proprietary Rights</h2>
    <p>The Service and its content, including but not limited to software, text, graphics, logos, images, and other materials, are protected by copyright, trademark, and other proprietary rights. Tysofit grants you a limited, non-exclusive, non-transferable license to access and use the Service and its content for your personal and non-commercial use, subject to these Terms.</p>

    <h2>Third-Party Services</h2>
    <p>The Service may include links to third-party websites, products, or services. Tysofit is not responsible for the availability or content of these third-party services, and will not be liable for any loss or damage incurred as a result of your use of these services. You should review the terms and conditions of use and privacy policy of any third-party service before using it.</p>

    <h2>Disclaimer of Warranties</h2>
    <p>The Service is provided on an “as is” and “as available” basis. Tysofit makes no representations or warranties of any kind, express or implied, as to the operation of the Service or the information, content, materials, or products included on the Service. You expressly agree that your use of the Service is at your sole risk. Tysofit does not warrant that the Service will be uninterrupted or error-free, and Tysofit will not be liable for any interruptions or errors. Tysofit also does not warrant that the Service or the server that makes it available are free from viruses or other harmful components.</p>
    <h2>Limitation of Liability</h2>
    <p>In no event will Tysofit be liable for any damages, including without limitation, direct, indirect, incidental, special, consequential, or punitive damages, arising out of the use of or inability to use the Service, or for any other claim related in any way to your use of the Service, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the Service. Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages, so some of the above limitations may not apply to you.</p>

    <h2>Indemnification</h2>
    <p>You agree to indemnify, defend, and hold harmless Tysofit and its affiliates, licensors, and service providers, and its and their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors, and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses, or fees (including reasonable attorneys’ fees) arising out of your use of the Service or your violation of these Terms.</p>

    <h2>Governing Law and Jurisdiction</h2>
    <p>These Terms shall be governed by and construed in accordance with the laws of the State of California, without giving effect to any principles of conflicts of law. You agree to submit to the personal jurisdiction of a state court located in San Francisco, California or the United States District Court for the Northern District of California.</p>

    <h2>Miscellaneous</h2>
    <p>These Terms constitute the entire agreement between you and Tysofit regarding the use of the Service. If any provision of these Terms is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. Tysofit’s failure to enforce any right or provision in these Terms shall not constitute a waiver of such right or provision unless acknowledged and agreed to by us in writing.</p>

    <h2>Contact Information</h2>
    <p>If you have any questions about these Terms, please contact us at tysoapp@gmail.com.</p>
    <br>
    <a style="color: #ff4433" href="/privacy-policy"><p style="text-align: center;">Privacy Policy</p></a>

</body>
</html>